// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Karma)

// Colors
$green: #a4d7c7
$gray: #5a6879
$light-gray: #758191
$blue: #6897D7
$orange: #EA9C4F
$purple: #C071E7

// Variables
$medium: 976px

*
  outline: none

body
  font:
    family: 'Lato', sans-serif
    size: rem(13)
  color: $light-gray
