%footer.footer
  %ul
    %li
      &copy; 2015 Prospxt &nbsp; &nbsp; &#124; &nbsp;
    %li
      = link_to 'Features', '/#features'
    %li
      = link_to 'Pricing', 'pricing.html'
    %li
      = link_to 'Contact', 'mailto:justin@prospxt.com'
    %li
      = link_to '@prospxt', '//twitter.com/prospxt', target: "_blank"
