.button
  border: none
  border-radius: rem(1000)
  background-color: $green
  color: white
  font-size: rem(13)
  text-decoration: none
  outline: none
  height: rem(34)
  line-height: rem(34)
  text-align: center
  padding: 0 rem(25)
  display: inline-block
  +transition(all .3s ease-in-out)
  &:hover
    background-color: darken($green, 10%)
    color: white
  &.secondary
    background-color: $blue
    &:hover
      background-color: darken($blue, 10%)
      color: white
