.wrapper
  +outer-container

.hero
  background: url('/images/hero.jpg') left center
  background-size: cover
  height: 100vh
  width: 100%
  display: table
  article
    display: table-cell
    vertical-align: middle
    text-align: center
    color: white
    .button
      text-align: center
      margin: rem(15) auto
