.wrapper
  +outer-container

.hero
  background: url('/images/hero.jpg') left center
  background-size: cover
  height: 100vh
  width: 100%
  display: table
  article
    display: table-cell
    vertical-align: middle
    text-align: center
    color: white
    position: relative
    .button
      text-align: center
      margin: rem(15) auto
      height: rem(55)
      line-height: rem(55)
      padding: 0 rem(60)
      font-size: rem(18)
    figure
      position: absolute
      left: 50%
      margin: 0
      bottom: rem(40)
    .circle
      position: relative
      left: -50%

.circle
  border-radius: 50%
  height: rem(80)
  width: rem(80)
  margin: 0 auto
  text-align: center
  border: rem(3) solid white
  line-height: rem(74)
  i
    font:
      size: rem(48)
    vertical-align: middle

.how
  text-align: center
  padding: rem(90) 0
  li
    +media($medium)
      +span-columns(4)
