.tabs-container
  border-radius: rem(12)
  background: $light-gray
  border: rem(1) solid $gray
  -webkit-box-shadow: 0 rem(4) rem(13) rem(-1) rgba(0,0,0,0.47)
  -moz-box-shadow: 0 rem(4) rem(13) rem(-1) rgba(0,0,0,0.47)
  box-shadow: 0 rem(4) rem(13) rem(-1) rgba(0,0,0,0.47)
  +media($medium)
    +span-columns(6)
    +shift(3)
