.tabs-container
  margin-bottom: rem(150)
  // +media($medium)
  //   +span-columns(10)
  //   +shift(1)
  ul
    list-style: none
    margin: rem(60) 0
    padding: 0
    +clearfix
    li
      display: inline-block
      text-align: center
      border-bottom: solid white rem(2)
      padding: rem(15) 0
      +span-columns(4)
      a
        text-decoration: none
        color: lighten(#646464, 10%)
        border-radius: rem(1000)
        background: lighten(#646464, 55%)
        padding: rem(5) rem(20)
        &.tab.active
          background: transparent
          border-radius: 0
          color: darken($green, 15%)
          border-bottom: solid $green rem(2)
  .content
    figure
      margin: 0
      &:nth-of-type(1)
        +media($medium)
          +span-columns(8)
      &:nth-of-type(2)
        +media($medium)
          +span-columns(4)
      img
        width: 100%
      h4
        font:
          size: rem(32)
      p
        font:
          size: rem(20)
        line-height: rem(35)
