.pricing
  // background: url('/images/pricing-bg.jpg') top center no-repeat
  // height: auto
  // width: 100%
  // background-size: cover
  h2
    background: #e1e1e1
    text-align: center
    color: darken($gray, 30%)
    font:
      size: rem(36)
      family: 'Lato', sans-serif
      weight: 700
    padding: rem(60) 0 rem(120) 0
    margin: 0
  article
    +clearfix
    dl
      margin: 0
      padding: 0 0 rem(90) 0
      dd
        margin: 0
        vertical-align: top
        text-align: left
        border: rem(2) darken(#e1e1e1, 10%) solid
        padding: rem(45) rem(90)
        margin: rem(-60) auto rem(0) auto
        background: white
        display: inline-block
        +media($medium)
          +span-columns(6)
          min-height: rem(460)
        h3
          font:
            size: rem(30)
            weight: 400
        h5
          font-size: rem(42)
          color: darken($green, 20%)
        p
          font-size: rem(20)
          line-height: rem(35)
        .button
          font-size: rem(18)
          margin: rem(30) auto 0 auto
          height: rem(55)
          line-height: rem(55)
          padding: 0 rem(60)
        // +media($medium)
        //   +span-columns(6)
