---
title: Prospxt | Dashboard
---
%section.dashboard
  .wrapper
    %article
      %header
        %h2 Dashboard
      %table.app-table
        %thead
          %tr
            -8.times do
              %th
                Stuff
        %tbody
          -10.times do
            %tr
              %td
                %input{type: 'checkbox'}
              %td
                = image_tag '#'
                %span Christopher Brodt
              %td
                icon
              %td
                7 minutes ago
              %td
                5 months ago
              %td
                16 days ago
              %td
                693
              %td
                Danilo Quilaton
