---
title: Prospxt | Pricing
---
%section.pricing
  %h2 Pricing right for you.
  %article
    .wrapper
      %dl
        %dd
          %h3 Data On-Demand
          %h5 $249
          %p
            Get custom, accurate prospects delivered monthly. Want to see what prospects look like?
            %br
            = link_to 'Get Beta Access', '#', class: 'ui signup-btn button'
        %dd
          %h3 Growth On-Demand
          %h5 $749
          %p
            Automate the top of your funnel with a structured sales process. Outbound email, calling, CRM & Gmail Integration
            %br
            = link_to 'Get a Demo', '#', class: 'contact-btn button'

= partial 'refills/signup-modal'
= partial 'refills/contact-modal'
