---
title: Prospxt | Pricing
---
%section.pricing
  %article
    .wrapper
      %h2 Pricing right for you.
      %dl
        %dd
          %h3 We make growth easy.
          %h5 $249
          %p
            Get 300 customized leads every month.
            %br
            Want to see what leads look like?
            %br
            = link_to 'Start for free', '#', class: 'button'
        %dd
          %h3 Cold Prospecting On-demand
          %h5 $749
          %p
            Need more leads? Want to pay per performance?
            %br
            = link_to 'Contact Us', '#', class: 'button'
