---
title: Prospxt | Pricing
---
%section.pricing
  %article
    .wrapper
      %dl
        %dd
          %h3 We make growth easy.
          %h5 $249
          %p
            Get 300 customized leads every month.
            %br
            Want to see what leads look like?
            = link_to 'Start for free.', '#'
        %dd
          %h3 Cold Prospecting On-demand
          %h5 $749
          %p
            Focus on your product, we'll handle the cold prospecting to drive sign ups, demos and new customers.
            %br
            Need more leads? Want to pay per performance?
            = link_to 'Contact Us.', '#'
